<% if @users.blank? %>
  <div class="li-box">
    <p class="p_tags inner-li-box">There are no users available.</p>
  </div>
<% else %>
  <ul class="ul-box">
    <% @users.each do |user| %>
    <%= link_to user_path(user) do %>    
      <li class="user-details">
        <div class="image-box">
        <img src="<%= user.photo %>" alt="User photo">            
        </div>
        <div class="info-box">
            <h2><%= user.name %></h2>
            <p>Number of posts: <%= user.post_count %></p>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>