.form_field {
  width: 100%;
  padding: 2rem 4rem;
}

.form_field input {
  width: 100%;
}

.checkbox {
  display: flex;
}

.checkbox input {
  width: auto;
  margin-right: 10px;
}

.sign_out button {
  background: #000;
  color: #fff;
  padding: 0.8rem;
  margin-bottom: 3rem;
  border-radius: 6px;
}
